<%= render 'shared/navbarback' %>
<div class='card indigo text-white'>
  <div class='card-body'>
    <h2 class='font-up font-bold py-4 text-white'>Clients</h2>

    <div class="d-flex justify-content-between bd-highlight mb-2">
      <div class='p-2 bd-highlight'>
        <%= link_to new_admin_client_path, class: 'btn btn-primary bg-warning' do %>
          <i class='fa fa-plus'></i>
        <% end %>
      </div>
      <div class='p-2 bd-highlight'>
        <div class='form-inline d-flex flex-row-reverse'>
          <div class='form-group'>
            <%= form_tag(admin_clients_path, method: :get) do %>
              <%= text_field_tag :name, params[:name],
                class: 'form-control indigo text-white' %>
              <%= button_tag(type: 'submit', name: nil, class: 'btn btn-primary') do %>
                <i class='fa fa-search'></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= page_entries_info @admin_clients %>
    <table class='table table-condensed table-hover table-striped text-white'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Affiliation</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @admin_clients.each do |admin_client| %>
          <tr>
            <td>
              <div class='text-white'>
                <%= admin_client.name %>
              </div>
            </td>
            <td>
              <div class='text-white'>
                <%= admin_client.affiliation %>
              </div>
            </td>
            <td>
              <%= link_to admin_client_path(admin_client), class: 'btn btn-primary bg-success' do %>
                <i class='fa fa-id-card-o'></i>
              <% end %>
              <%= link_to edit_admin_client_path(admin_client),
                class: 'btn btn-primary bg-warning' do %>
                <i class='fa fa-pencil'></i>
              <% end %>
              <%= link_to admin_client_path(admin_client), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary bg-danger' do %>
                <i class='fa fa-remove'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @admin_clients, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
