<% @comment.errors.each do |key, value| %>
  $('#helpBlock-comments').html('<div class="alert alert-danger"><%= key.capitalize %> <%= escape_javascript(value)%></div>')
<% end %>

<% if @comment.persisted? %>
  $('table#comms tbody').append('<tr><td><div class="form-group text-white"><strong><%= @comment.commenter.name %></strong></div><div class="form-group text-white"><%= @comment.comment %></div></td><td><% unless current_user.user? %><div class="float-right"><%= link_to @comment, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %><i class="fa fa-close"></i><% end %></div><% end %></td></tr>').fadeIn()
<% end %>
