<%= form_with(model: time_log, local: true) do |form| %>
  <% if time_log.errors.any? %>
    <div id='error_explanation' class='alert alert-danger'>
      <h2><%= pluralize(time_log.errors.count, 'error') %> prohibited this time_log from being saved:</h2>

      <ul>
      <% time_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :hours %>
    <%= form.number_field :hours, class: 'text-white' %>
  </div>

  <div class='form-group'>
    <%= form.label :project_id %>
    <%= form.select :project_id, Project.all.map{ |u| [u.title, u.id] }, { selected: params[:format] } %>
  </div>

  <div class='actions'>
    <%= form.submit 'Submit', class: 'btn btn-outline-white waves-effect waves-light' %>
  </div>
<% end %>
