<%= form_with(model: time_log, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <% if time_log.errors.any? %>
    <div id='error_explanation' class='alert alert-danger alert-dismissable fade show'>
      <h2><%= pluralize(time_log.errors.count, 'error') %> prohibited this time_log from being saved:</h2>
      <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
      </button>

      <ul>
      <% time_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group text-white'>
    <%= form.label :hours %>
    <%= form.number_field :hours, autocomplete: 'off', required: true %>
  </div>

  <div class='form-group'>
    <%= form.label :project_id %>
    <%= form.select :project_id, Project.all.map{ |u| [u.title, u.id] }, { selected: params[:format] }, { class: 'chosen-select chosen-select-fix' } %>
  </div>

  <div class='actions'>
    <%= form.submit 'Submit', class: 'btn btn-outline-white waves-effect waves-light' %>
  </div>
<% end %>
