<div class='modal-header'>
  <div class='d-flex flex-row-reverse'>
    <h4 class='modal-title font-up font-bold py-4 float-left text-dark' id='myModalLabel'>Add Time Log</h4>
  </div>
  <div class='row'>
    <div class='col'>
    </div>
    <div class='col'>
      <div class='float-right'>
        <button type='button' class='close' data-dismiss='modal'>x</button>
      </div>
    </div>
  </div>
</div>
<div class='modal-body'>
  <%= form_with(model: @time_log, remote: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :project_id, value: params[:project_id] %>
    <span id='helpBlock-timelogs' class='help-block'></span>

    <div class='form-group'>
      <%= form.label :hours, class: 'label' %>
      <%= form.number_field :hours, class: 'form-control', autocomplete: 'off', required: true %>
    </div>

    <div class='actions modal-footer'>
      <%= form.submit 'Done', class: 'btn btn-outline-white waves-effect waves-light', remote: true %>
    </div>
  <% end %>
</div>
