<%= render 'shared/navbar' %>
<div class='card indigo text-white'>
  <div class='card-body'>

    <div class='row'>
      <div class='col'>
        <h2 class='font-up font-bold py-4 text-white float-left'>Time Logs</h2>
      </div>
      <div class='col'>
      </div>
    </div>
    <div class='clearfix'></div>

    <%= page_entries_info @time_logs %>
    <table class='table table-condensed table-hover table-striped text-white'>
      <thead>
        <tr>
          <th>Time Log Information</th>
        </tr>
      </thead>

      <tbody>
        <% @time_logs.each do |time_log| %>
          <tr>
            <td>
              <div class='row'>
                <div class='col'>
                  <div class='form-group text-white'>
                    <b>Hours: </b><%= time_log.hours %>
                  </div>
                  <div class='form-group text-white'>
                    <b>Project: </b><%= Project.find(time_log.project_id).title %>
                  </div>
                  <div class='form-group text-white'>
                    <b>Creator: </b><%= User.find(time_log.user_id).name %>
                  </div>
                </div>
                <div class='col'>
                  <div class='float-right'>
                    <div class='form-group'>
                      <%= link_to decide_time_log_path(time_log), class: 'btn btn-primary bg-success' do %>
                        <i class='fa fa-eye'></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @time_logs, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
