<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= Project.find(@time_log.project_id).title %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@time_log.user_id).name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @time_log.hours %>
</p>

<%= link_to 'Edit', edit_time_log_path(@time_log) %> |
<%= link_to 'Back', time_logs_path %>
