<%= render 'navbarback' %>

<p>
  <strong>Hours:</strong>
  <%= @time_log.hours %>
</p>

<p>
  <strong>Project:</strong>
  <%= Project.find(@time_log.project_id).title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= User.find(@time_log.user_id).name %>
</p>

<%= link_to 'Edit', edit_time_log_path(@time_log), class: 'btn btn-outline-white waves-effect waves-light' %>
