<%= form_with(model: manager_client, local: true, url: url_for(:controller => 'manager/clients', :action => 'create')) do |form| %>
  <% if manager_client.errors.any?%>
    <div id="error_explanation" class='alert alert-danger'>
      <h2><%= pluralize(manager_client.errors.count, "error") %> prohibited this manager_client from being saved:</h2>

      <ul>
      <% manager_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :affiliation %>
    <%= form.text_field :affiliation, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
