<%= form_with(model: manager_client, local: true) do |form| %>
  <% if manager_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager_client.errors.count, "error") %> prohibited this manager_client from being saved:</h2>

      <ul>
      <% manager_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :affiliation %>
    <%= form.text_field :affiliation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
