<%= form_with(model: manager_client, local: true, url: decide_controller_action) do |form| %>
  <% if manager_client.errors.any?%>
    <div id='error_explanation' class='alert alert-danger'>
      <h2><%= pluralize(manager_client.errors.count, 'error') %> prohibited this manager_client from being saved:</h2>

      <ul>
      <% manager_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'text-white', autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= form.label :affiliation %>
    <%= form.text_field :affiliation, class: 'text-white', autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-outline-white waves-effect waves-light' %>
  </div>
<% end %>
