<%= render 'navbarback' %>
<div class='card indigo text-white'>
  <div class='card-body'>
    <h2 class='font-up font-bold py-4 text-white'>
      <p>
        <strong>Name:</strong>
        <%= @manager_client.name %>
      </p>

      <p>
        <strong>Affiliation:</strong>
        <%= @manager_client.affiliation %>
      </p>

      <%= link_to 'Edit', edit_manager_client_path(@manager_client),
        class: 'btn btn-outline-white waves-effect waves-light' %>
    </h2>

    <%= page_entries_info @projects %>
    <table class='table table-condensed table-hover table-striped text-white'>
      <thead>
        <tr>
          <th>Client Projects</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td>
              <div class='form-group'>
                <b>Name: </b><%= project.title %>
              </div>
              <div class='form-group'>
                <b>Payment: </b><%= project.total_payment %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @projects, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
