<%= render 'shared/navbarback' %>

<div class="card indigo">
  <h2 class='text-center font-up font-bold py-4 float-left text-white'>Change Password</h2>
  <div class="card-body">
    <%= form_with model:current_user, url: update_password_user_path(current_user) do |form| %>

      <%= render 'shared/errors' %>

      <p class='form-group'>
        <%= form.label :password, class: 'text-white' %>
        <%= form.password_field :password, class: 'text-white' %>
      </p>

      <p class='form-group'>
        <%= form.label 'New Password', class: 'text-white' %>
        <%= form.password_field :new_password, class: 'text-white' %>
      </p>

      <p class='form-group'>
        <%= form.label 'Confirm Password', class: 'text-white' %>
        <%= form.password_field :confirm_password, class: 'text-white' %>
      </p>

      <p class='form-group'>
        <%= form.submit 'Update', class: 'btn btn-outline-white waves-effect waves-light' %>
      </p>
    <% end %>
  </div>
</div>

