<div class='container'>
  <%= render 'shared/navbarback' %>
  <h1>Change Password</h1>

  <%= form_with model:current_user,
    url: update_password_user_path(current_user) do |form| %>
    <%= render 'shared/errors' %>

    <p class='form-group'>
      <%= form.label :password, class: 'label' %>
      <%= form.password_field :password, class: 'form-control' %>
    </p>

    <p class='form-group'>
      <%= form.label 'New Password', class: 'label' %>
      <%= form.password_field :new_password, class: 'form-control' %>
    </p>

    <p class='form-group'>
      <%= form.label 'Confirm Password', class: 'label' %>
      <%= form.password_field :confirm_password, class: 'form-control' %>
    </p>

    <p class='form-group'>
      <%= form.submit 'Update', class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
