<nav class='navbar navbar-expand-sm navbar-dark fixed-top indigo'>
  <ul class='navbar-nav'>
    <li class='nav-item'>
      <%= image_tag image_url_validate(current_user.image_url.to_s),
        class: 'img-icon' %>
    </li>

    <li class='nav-item'>
      <%= link_to 'Dashboard', home_path, class: 'nav-link' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Clients', decide_client_path, class: 'nav-link' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Projects', decide_projects_path, class: 'nav-link' %>
    </li>
    <% if current_user.user? %>
      <li class='nav-item'>
        <%= link_to 'Time Logs', time_logs_path, class: 'nav-link' %>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class='nav-item'>
        <%= link_to 'Users', admin_users_path, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
  <ul class='navbar-nav ml-auto'>

    <li class='nav-item dropdown active'>
      <a class='nav-link dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
        aria-expanded='false'>
        Edit Profile
      </a>
      <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
        <%= link_to 'Edit Info', edit_user_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'Change Password', change_password_user_path(current_user), class: 'dropdown-item' %>
      </div>
    </li>
    <li class='nav-item active'>
      <%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>
