<% @attachment.errors.each do |key, value| %>
  $('#helpBlock-attachments').html('<div class="alert alert-danger"><%= key.capitalize %> <%= escape_javascript(value)%></div>')
<% end %>

<% if @attachment.persisted? %>
  $('table#attachments-table tbody').append('<tr><td class="text-white"><%= @str = shorten_name(@attachment) %></td><td><a href="<%= @attachment.filename_url %>" download=""><i class="fa fa-download"></i></a><%= link_to @attachment, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %><i class="fa fa-close"></i><% end %></td></tr>').fadeIn()
<% end %>
