<%= render 'navbarback' %>
<h1 class='font-up font-bold py-4'><%= Project.find(params[:project_id]).title %></h1>

<div class='row'>
  <% @attachments.each do |attachment| %>
    <div class='col'>
      <div class='card attachment-size'>
        <div class='card-header indigo'>
          <div class='d-flex flex-row-reverse'>
            <%= link_to attachment, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class='fa fa-close'></i>
            <% end %>
          </div>
        </div>
        <div class='card-body'>
          <a href="<%= attachment.filename_url %>" download=''>
            <%= @str = File.basename(attachment.filename.to_s).truncate(10) + File.extname(attachment.filename.to_s) %>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
