<%= render 'navbarback' %>
<h1>Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Projects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= image_tag image_url_validate(attachment.filename_url.to_s),
          class: 'img-thumbnail' %></td>
        <td><%= Project.find(attachment.project_id).title %></td>
        <td><%= link_to 'Download', attachment.filename_url, download: '' %></td>
        <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
        <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_attachment_path %>
