<%= form_with(model: project, url: decide_projects_controller_action, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id='error_explanation' class='alert alert-danger'>
      <h2><%= pluralize(project.errors.count, 'error') %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'text-white', autocomplete: 'off' %>
  </div>

  <div class='form-group'>
    <%= form.label :description %>
    <%= form.text_area :description, class: 'text-white', autocomplete: 'off' %>
  </div>

  <div class='form-group'>
    <%= form.label :manager_id %>
    <%= form.select :manager_id, User.where('role = "manager"').map { |u| [u.name, u.id] }, class: 'text-white' %>
  </div>

  <div class='form-group'>
    <%= form.label 'Assign Employees' %>
    <%= form.select :users_ids, User.where('role = "user"').map { |u| [u.name, u.id] },
      { selected: Projects_User.where('project_id = ?', params[:id]).pluck(:user_id) }, { id: 'choose-client', :class => 'chosen-select', multiple: true } %>
  </div>

  <div class='form-group'>
    <%= form.label :client_id %>
    <%= form.select :client_id, Client.all.map { |u| [u.name, u.id] }, class: 'text-white' %>
  </div>

  <div class='actions'>
    <%= form.submit 'Submit', class: 'btn btn-outline-white waves-effect waves-light' %>
  </div>
<% end %>
