<%= render 'shared/navbarback' %>
<div class='card indigo text-white'>
  <div class='card-body'>
    <h2 class='font-up font-bold py-4 text-white'>Projects</h2>

    <div class="d-flex justify-content-between bd-highlight mb-2">
      <div class='p-2 bd-highlight'>
        <%= link_to new_decide_project_path, class: 'btn btn-primary bg-success' do %>
          <i class='fa fa-plus'>New Project</i>
        <% end %>
      </div>
      <div class='p-2 bd-highlight'>
        <div class='form-inline d-flex flex-row-reverse'>
          <div class='form-group'>
            <%= form_tag(decide_projects_path, method: :get) do %>
              <%= text_field_tag :title, params[:title],
                class: 'form-control indigo text-white' %>
              <%= button_tag(type: 'submit', title: nil, class: 'btn btn-primary') do %>
                <i class='fa fa-search'></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= page_entries_info @projects %>
    <table class='table table-condensed table-hover table-striped text-white'>
      <thead>
        <tr>
          <th>Project Information</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td>
              <div class='row'>
                <div class='col'>
                  <div class='form-group text-white'>
                    <b>Title: </b><%= project.title %>
                  </div>
                  <div class='form-group text-white'>
                    <b>Hours Spent: </b><%= project.hours %>
                  </div>
                  <div class='form-group text-white'>
                    <b>Total Payment: </b><%= project.payment %>
                  </div>
                  <div class='form-group text-white'>
                    <b>Manager: </b><%= project.manager.name %>
                  </div>
                  <div class='form-group text-white'>
                    <b>Creator: </b><%= project.creator.name %>
                  </div>
                  <div class='form-group text-white'>
                    <b>Client: </b><%= project.client.name %>
                  </div>
                </div>
                <div class='col'>
                  <div class='float-right'>
                    <% unless Projects_User.where('user_id = ? AND project_id = ?', current_user.id, project.id).blank? %>
                      <%= link_to new_decide_time_log_path_project(project), class: 'btn btn-primary bg-success' do %>
                        <i class='fa fa-plus'></i>
                      <% end %>
                    <% end %>
                    <%= link_to decide_project_path(project), class: 'btn btn-primary bg-success' do %>
                      <i class='fa fa-eye'></i>
                    <% end %>
                    <% unless current_user.user? %>
                      <%= link_to edit_decide_project_path(project),
                        class: 'btn btn-primary bg-warning' do %>
                        <i class='fa fa-pencil'></i>
                      <% end %>
                      <%= link_to decide_project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary bg-danger' do %>
                        <i class='fa fa-close'></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @projects, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
