<%= render 'navbarback' %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Hours spent:</strong>
  <%= @project.hours %>
</p>

<p>
  <strong>Total payment:</strong>
  <%= @project.payment %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @project.creator.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client.name %>
</p>

<h2 class='font-up font-bold py-4 text-center'>Attachments</h2>

<div class='row'>
  <div class='row'>
    <% @attachments.each do |attachment| %>
    <div class='col'>
      <div class='card attachment-size'>
        <div class='card-header indigo'>
          <div class='d-flex flex-row-reverse'>
            <%= link_to attachment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-white' do %>
              <i class='fa fa-close'></i>
            <% end %>
          </div>
        </div>
        <div class='card-body'>
          <a href="<%= attachment.filename_url %>" download=''>
            <%= @str = File.basename(attachment.filename.to_s).truncate(10) + File.extname(attachment.filename.to_s) %>
          </a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class='text-center'>
  <%= link_to 'View all', attachments_path(project_id: @project.id), class: 'btn btn-outline-white waves-effect waves-light' %>

  <%= link_to 'Upload Attachment', new_attachment_path(project_id: @project.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-outline-white waves-effect waves-light' }  %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</div>

<div class='card indigo text-white'>
  <div class='card-body'>

    <div class='row'>
      <div class='col'>
        <div class='row'>
          <div class='col'>
            <% if current_user.user? %>
              <h2 class='font-up font-bold py-4 text-white float-left'>Your Logs</h2>
            <% else %>
              <h2 class='font-up font-bold py-4 text-white float-left'>Project Logs</h2>
            <% end %>
          </div>
          <div class='col'>
          </div>
        </div>
        <div class='clearfix'></div>
        <%= page_entries_info @time_logs %>
        <table class='table table-condensed table-hover table-striped text-white'>
          <thead>
            <tr>
              <th>Time Log Information</th>
            </tr>
          </thead>

          <tbody>
            <% @time_logs.each do |time_log| %>
              <tr>
                <td>
                  <div class='row'>
                    <div class='col'>
                      <div class='form-group text-white'>
                        <b>Hours: </b><%= time_log.hours %>
                      </div>
                      <div class='form-group text-white'>
                        <b>Creator: </b><%= User.find(time_log.user_id).name %>
                      </div>
                    </div>
                    <div class='col'>
                      <div class='float-right'>
                        <%= link_to decide_time_log_path(time_log), class: 'btn btn-primary bg-success' do %>
                          <i class='fa fa-id-card-o'></i>
                        <% end %>
                        <%= link_to edit_decide_time_log_path(time_log),
                          class: 'btn btn-primary bg-warning' do %>
                          <i class='fa fa-pencil'></i>
                        <% end %>
                        <%= link_to decide_time_log_path(time_log), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary bg-danger' do %>
                          <i class='fa fa-close'></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @time_logs, theme: 'twitter-bootstrap-4' %>
      </div>
      <% unless current_user.user? %>
        <div class='col'>
          <div class='row'>
            <div class='col'>
              <h2 class='font-up font-bold py-4 text-white float-left'>Payments</h2>
            </div>
            <div class='col'>
              <%= link_to new_decide_payment_path_with_project(@project),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary bg-warning float-right' } do %>
                <i class='fa fa-plus'></i>
              <% end %>
              <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content"></div>
                </div>font-up font-bold py-4 text-white
              </div>
            </div>
          </div>
          <div class='clearfix'></div>

          <%= page_entries_info @payments %>
          <table class='table table-condensed table-hover table-striped text-white'>
            <thead>
              <tr>
                <th>Payment Information</th>
              </tr>
            </thead>

            <tbody>
              <% @payments.each do |payment| %>
                <tr>
                  <td>
                    <div class='row'>
                      <div class='col'>
                        <div class='form-group text-white'>
                          <b>Amount: </b><%= payment.amount %>
                        </div>
                        <div class='form-group text-white'>
                          <b>Creator: </b><%= User.find(payment.creator_id).name %>
                        </div>
                      </div>
                      <div class='col'>
                        <div class='float-right'>
                          <%= link_to decide_payment_path(payment), class: 'btn btn-primary bg-success' do %>
                            <i class='fa fa-id-card-o'></i>
                          <% end %>
                          <%= link_to edit_decide_payment_path(payment),
                            class: 'btn btn-primary bg-warning' do %>
                            <i class='fa fa-pencil'></i>
                          <% end %>
                          <%= link_to decide_payment_path(payment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary bg-danger' do %>
                            <i class='fa fa-close'></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @payments, theme: 'twitter-bootstrap-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
