<%= render 'navbarback' %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Hours spent:</strong>
  <%= @project.hours_spent %>
</p>

<p>
  <strong>Total payment:</strong>
  <%= @project.total_payment %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @project.creator.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client.name %>
</p>

<%= link_to 'Edit', edit_decide_project_path(@project), class: 'btn btn-outline-white waves-effect waves-light' %>
