<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Hours spent:</strong>
  <%= @project.hours_spent %>
</p>

<p>
  <strong>Total payment:</strong>
  <%= @project.total_payment %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @project.creator_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
