<%= render 'shared/navbar' %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p id='time-log-hours'>
  <strong>Hours spent:</strong>
  <%= @project.hours_spent %>
</p>

<p id='payment-total'>
  <strong>Total payment:</strong>
  <%= @project.total_payment %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @project.creator.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.is_progress? ? 'In Progress' : 'Completed' %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.is_fixed? ? 'Fixed' : 'Hourly' %>
</p>

<div class='card indigo'>
  <%= render partial: 'comments/modal' %>
</div>

<div class='card indigo', class='text-white'>
  <h2 class='font-up font-bold py-4 text-center text-white'>Attachments</h2>
  <%= render partial: 'attachments/modal' %>
</div>

<div class='card indigo text-white'>
  <div class='card-body'>

    <div class='row'>
      <div class='col'>
        <%= render partial: 'time_logs/modal' %>
        <% unless current_user.user? %>
          <%= render partial: 'payments/modal' %>
        <% end %>
    </div>
  </div>
</div>
