<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id='error_explanation' class='alert alert-danger'>
      <h2><%= pluralize(payment.errors.count, 'error') %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :amount %>
    <%= form.number_field :amount, class: 'text-white' %>
  </div>

  <div class='form-group'>
    <%= form.label :project_id %>
    <%= form.select :project_id, Project.all.map{ |u| [u.title, u.id] } %>
  </div>

  <div class='actions'>
    <%= form.submit 'Submit', class: 'btn btn-outline-white waves-effect waves-light' %>
  </div>
<% end %>
