<%= render 'navbarback' %>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Project:</strong>
  <%= Project.find(@payment.project_id).title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= User.find(@payment.creator_id).name %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment), class: 'btn btn-outline-white waves-effect waves-light' %>
