<%= render 'navbarback' %>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Project:</strong>
  <%= Project.find(@payment.project_id).title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= User.find(@payment.creator_id).name %>
</p>

<div class='card indigo'>

  <table class='table table-condensed table-hover table-striped text-white'>
    <tr>
      <th class='text-white'>Recent Comments</th>
    </tr>

    <% @comments.reverse.each do |cmnt| %>
    <tr>
      <td>
        <div class='form-group text-white'>
          <b><%= cmnt.commenter %></b>
        </div>
        <div class='form-group text-white'>
          <%= cmnt.comment %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>

  <div class='text-center'>
    <%= link_to 'View all', comments_path(commentable_id: @payment.id, commentable_type: 'Payment', project_id: params[:project_id]), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window3', class: 'btn btn-outline-white waves-effect waves-light' } %>
    <%= link_to 'Add Comment', new_comment_path(commentable_id: @payment.id, commentable_type: 'Payment', project_id: params[:project_id]), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-outline-white waves-effect waves-light' } %>
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <div id="modal-window3" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>
</div>
